/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads/images/*
!/web/uploads/images/avatars/.gitkeep
/web/uploads/others/*
!/web/uploads/others/.gitkeep
/web/uploads/videos/*
!/web/uploads/videos/.gitkeep
!/web/uploads/innovations/attachments/.gitkeep
/.idea/
/node_modules/