parameters:
    env(DB_HOST): mysql
    env(DB_PORT): 3306
    env(DB_NAME): symfony
    env(DB_USER): root
    env(DB_PASSWORD): secret
    env(MONGODB_HOST): mongo
    env(MONGODB_PORT): 27017
    env(MONGODB_DATABASE): symfony
    env(MONGODB_USER): null
    env(MONGODB_PASSWORD): null
    env(SUPER_ADMIN_USERNAME): username
    env(SUPER_ADMIN_PASSWORD): secret
    env(SUPER_ADMIN_EMAIL): email_address@domain.com
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    secret: ThisTokenIsNotSoSecretChangeIt
    core.languages:
        - pl
        - en
    admin.path.uri_prefix.others: /uploads/others
    admin.path.uri_prefix.images: /uploads/images
    admin.path.uri_prefix.videos: /uploads/videos
    admin.path.uri_prefix.favicon: /uploads/favicon

