{% block footer %}
    <div id="footer" class="container-fluid">
        <div class="row">
            <div class="col-xs-12 footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            Kontakt
                        </div>
                        <div class="col-md-6">
                            Facebook
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 copyright">
                Copyrights
            </div>
        </div>
    </div>
{% endblock %}