<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
        <p id="profile-name" class="profile-name-card"></p>
        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': {'class': 'form-signin', 'novalidate': 'novalidate'} }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" class="btn btn-lg btn-primary btn-block btn-signin" value="{{ 'Submit'|trans }}"/>
        </div>
        {{ form_end(form) }}
    </div>
</div>