{% extends 'FrontendBundle:Layout:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/frontend/js/parallax/parallax.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 parallax-window" data-parallax="scroll"
                 data-image-src="http://presstodev.dev/uploads/images/5a3c4ed25bcec883060696.jpg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="primary-text">
                            <span class="helper"></span>
                            <span class="text">
                                <h1>"Każdy jest inny, więc pływak mały czy duży jest traktowany indywidualnie.  Nikt nie jest pozostawiony sam sobie podczas zajęć."</h1>
                                <p class="sign">Grzegorz Chorzelewski</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 padding0 content-container">
                <div class="blur on-hover-fade"></div>
                <div class="secondary-text">
                    Przez cały kurs pływania indywidualnie obserwujemy dzieci i ich postępy.Jeżeli dziecko wykazuje
                    większe umiejętności proponujemy przejście do grupy bardziej zaawansowanej.
                </div>
            </div>
            <div class="col-md-6 padding0 content-container">
                <div class="blur on-hover-fade"></div>
                <div class="secondary-text">
                    Przez cały kurs pływania indywidualnie obserwujemy dzieci i ich postępy.Jeżeli dziecko wykazuje
                    większe umiejętności proponujemy przejście do grupy bardziej zaawansowanej.
                </div>
            </div>
            <div class="col-md-6 padding0 content-container">
                <div class="blur on-hover-fade"></div>
                <div class="secondary-text">
                    Przez cały kurs pływania indywidualnie obserwujemy dzieci i ich postępy.Jeżeli dziecko wykazuje
                    większe umiejętności proponujemy przejście do grupy bardziej zaawansowanej.
                </div>
            </div>
            <div class="col-md-6 padding0 content-container">
                <div class="blur on-hover-fade"></div>
                <div class="secondary-text">
                    Przez cały kurs pływania indywidualnie obserwujemy dzieci i ich postępy.Jeżeli dziecko wykazuje
                    większe umiejętności proponujemy przejście do grupy bardziej zaawansowanej.
                </div>
            </div>
            <div class="col-xs-12 parallax-window" data-parallax="scroll"
                 data-image-src="	http://presstodev.dev/uploads/images/5a3cfddd8cd50_kids.jpeg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="primary-text">
                            <span class="helper"></span>
                            <span class="text">
                                <h1>"Każdy jest inny, więc pływak mały czy duży jest traktowany indywidualnie.  Nikt nie jest pozostawiony sam sobie podczas zajęć."</h1>
                                <p class="sign">Grzegorz Chorzelewski</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}