{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block list_table %}
    {% if app.session.flashBag.has('access_denied') %}
            <div class="alert alert-error" style="margin: 0 15px 20px;">
                {% for msg in app.session.flashBag.get('access_denied') %}
                    {{ msg }}
                {% endfor %}
            </div>
    {% endif %}
    {{ parent() }}
{% endblock %}