@font-face {
    font-family: Lobster;
    src: url('../fonts/Lobster-Regular.ttf');
}

@font-face {
    font-family: Exo;
    src: url('../fonts/Exo2-Light.ttf');
}

body {
    color: white;
    border-top: #ffffff 4px solid;
    font-family: Exo;
    opacity: 1;
    transition: 1s opacity;
    position: relative;
}

body a, body a:hover, body a:focus, body a:active {
    color: white;
    text-decoration: none;
    outline: none;
    height: 100%;
}

* {
    transition: 0.1s all;
}

#document-progress-bar-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
}

#document-progress-bar {
    position: absolute;
    top: -4px;
    left: 0;
    width: 1%;
    height: 4px;
}

#header {
    background-color: rgb(27, 88, 177);
    position: relative;
    border-bottom: 1px solid;
}

#logo {
    position: absolute;
    max-height: 160px;
    top: -10px;
    z-index: 1002;
}

#upper-navbar a:hover, #upper-navbar a:focus, #upper-navbar a:active {
    padding-top: 2px;
    border-bottom: 2px solid;
    cursor: pointer;
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 14px;
}

#cms-menu a:hover, #menu a:focus, #menu a:active {
    padding-bottom: 2px;
    border-top: 2px solid;
    cursor: pointer;
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 18px;
}

#upper-navbar {
    position: relative;
    font-size: 12px;
}

#upper-navbar .text-middle {
    height: 35px;
    z-index: 1000;
}

#cms-menu .text-middle {
    height: 70px;
}

.text-middle .text {
    display: inline-block;
    vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.border-decorator-horizontal {
    width: calc(100% - 95px);
    right: 0;
    height: 100%;
    border-bottom: 1px solid;
    opacity: 0.6;
    position: absolute;
    z-index: 999;
}

.main-item {
    height: 100%;
}

.main-item a {
    height: 100%;
    width: 100%;
    display: inline-block;
}

#footer {
    height: 400px;
}

.footer-content {
    height: 300px;
}

.copyright {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100px;
    border-top: 1px solid;
}

.content-container {
    min-height: 400px;
}

.blur {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 70, 170, 0.9);
    z-index: 1001;
    height: 100%;
    width: 100%;
    transition: 1.0s all;
}

.blur:first-child {
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.blur:nth-child(3) {
    border-right: 1px solid;
}

.parallax-window {
    min-height: 500px;
    background: transparent;
    border-bottom: 1px solid;
}

.parallax-mirror {
    transition: none;
}

.parallax-slider {
    transition: none;
}

.on-ready-fade {
    display: none;
}

.opacity0 {
    opacity: 0.00 !important;
}

.opacity02 {
    opacity: 0.20 !important;
}

.padding0 {
    padding: 0 !important;
}

.width100 {
    width: 100% !important;
}

.transition0 {
    transition: none !important;
}
